@import "tailwindcss";

@font-face {
  font-family: 'docallisme';
  src: url('/docallismeonstreet.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'docallisme', sans-serif;
}